@charset "utf-8";

// Our variables

// solarized color scheme
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$base-font-family:    'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:      14px;
$heading-font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
$small-font-size:     $base-font-size * 0.875;
$base-line-height:    1.5;

$spacing-unit:        30px;

//$background-color:    #fdfdfd;
$background-color:    $base3;
$text-color:          #1a1a1a;

//$name-color:          lighten($text-color, 15.5%);
//$nickname-color:      lighten($text-color, 75%);
//$sub-title-color:     lighten($text-color, 55%);
//$link-color:          lighten($text-color, 65%);

$name-color:          $yellow;
$nickname-color:      $base1;
$sub-title-color:     $base1;
$link-color:          $base0;

//$brand-color:         #1193f6;
//$brand-color-light:   lighten($brand-color, 10%);
//$brand-color-dark:    darken($brand-color, 10%);
$brand-color:           $blue;
$brand-color-light:     $blue;
$brand-color-dark:      $blue;


$grey-color:          #828282;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin transition($transforms) {
     -moz-transition: $transforms;
       -o-transition: $transforms;
      -ms-transition: $transforms;
  -webkit-transition: $transforms;
          transition: $transforms;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
